<nav class="navbar">
    <div class="navbar__links">
        <%= link_to "OnlineMinute", root_path, class: "navbar__links--link" %>
        <%= link_to "Home", root_path, class: "navbar__links--link" %>
        <%= link_to "About", about_path, class: "navbar__links--link" %>
    </div>
</nav>